.highlights-content {
    padding: 70px;
}

.product-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-items: center;
    gap: 20px;
}

/* @media (max-width: 1024px) {
    .product-content {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 600px) {
    .product-content {
        grid-template-columns: repeat(2, 1fr);
    }
} */

.product-card {
    width: 300px;
    max-width: 300px;
    height: 400px;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    -webkit-transition: all 0.3s ease;
    overflow: hidden;
}

.product-card:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.product-card-top {
    display: flex;
    width: 100%;
    min-height: 44px;
    gap: 5px;
}

.product-card-top h3{
    display: flex;
    justify-content: center;
    width: 100%;
}

.product-card #product-card-favorite-icon {
    font-size: 25px;
    color: rgb(209, 42, 0);
}

.product-card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    overflow: hidden;
    position: relative;
}

.category {
    position: absolute;
    top: 5px;
    left: 0px;
    padding: 6px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
}

.label-category {
    display: flex;
    align-items: center;
    gap: 5px;
}

.product-card img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.price-buy {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 10px 0;
}

.price-buy .price {
    font-size: 1.1em;
    font-weight: bold;
}

.price-buy .buy-button {
    text-decoration: none;
    color: white;
    padding: 5px;
    background-color: rgb(209, 136, 0);
    border-radius: 4px;
    -webkit-transition: all 0.3s ease;
}

.price-buy .buy-button:hover {
    scale: 1.05;
    background-color: brown;
}

.more-details {
    display: flex;
    align-items: center;
    height: 100%;
}

.product-card-footer {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.product-card-footer .product-card-profile {
    display: flex;
    align-items: center;
    border-radius: 4px;
    gap: 5px;
    padding: 5px;
    background-color: antiquewhite;
}

.product-card-footer #product-card-profile-icon {
    font-size: 15px;
    color: rgb(209, 136, 0);
    cursor: pointer;
}