.home-content {
    padding: 70px;
}

.product-content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.product-card {
    width: 300px;
    max-width: 300px;
    height: 400px;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    -webkit-transition: all 0.3s ease;
    overflow: hidden;
}

.product-card:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    scale: 1.01;
    cursor: pointer;
}

.product-card-top {
    display: flex;
    width: 100%;
    gap: 5px;
}

.product-card-top h3{
    display: flex;
    justify-content: center;
    width: 100%;
}

.product-card #product-card-favorite-icon {
    font-size: 25px;
    color: rgb(209, 42, 0);
}

.product-card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100%;
    height: 100%;
    padding: 10px;
    overflow: hidden;
}

.product-card img {
    min-height: 150px;
    max-height: 200px;
    max-width: 280px;
}

.product-card-footer {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.product-card-footer .product-card-profile {
    display: flex;
    align-items: center;
    border-radius: 4px;
    gap: 5px;
    padding: 5px;
    background-color: antiquewhite;
}

.product-card-footer #product-card-profile-icon {
    font-size: 15px;
    color: rgb(209, 136, 0);
    cursor: pointer;
}
