.register-content {
    padding: 70px;
    display: flex;
    justify-content: center;
}

form {
    width: 600px;
    max-width: 600px;
    border: solid 1px #ced4da;
    border-radius: 4px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.form-content .user-name-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.form-content .user-name-content div {
    display: flex;
    flex-direction: column;
}

.form-content .user-name-content input {
    width: 100%;
}

.form-content label {
    margin: 5px 0;
}

.form-content input {
    width: 500px;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 1.2em;
}

form button {
    padding: 5px 10px;
    margin: 0 0 10px 0;
    border: none;
    border-radius: 4px;
    background-color: rgb(209, 136, 0);
    color: white;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
}

.form-footer {
    width: 100%;
    padding: 10px;
    display: flex;
    background-color: f3f3f3;
    justify-content: center;
    gap: 60px;
    font-size: 0.9em;
}

.error-messages {
    color: red;
    font-size: 0.8em;
}